.chat-main__message-list
  .chat-main__message-list__block
    .chat-main__message-list__block__member-block
      .chat-main__message-list__block__member-block__member-name
        = message.user.name
      .chat-main__message-list__block__member-block__time
        = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
    .chat-main__message-list__block__message-block
      - if message.content.present?
        %p.chat-main__message-list__block__message-block__message
          = message.content
      = image_tag message.image.url, class: 'chat-main__message-list__block__message-block__image' if message.image.present?